@import './Variables/Variables.scss';

.bar-card {
  @include card;
}

.bar-card-logo-name-extra {
  justify-content: center;
  display: flex;
  width: 80%;
  align-items: center;
}

.bar-card-logo {
  height: 38px;
  padding-right: 18px;
}

.bar-card-name {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.bar-card-price {
  @include bar-card-info;
}

.bar-card-phone {
  @include bar-card-info;
}

.bar-card-site {
  font-size: 12px;
  font-weight: normal;
  color: $light-font;
  line-height: 14px;
}

.bar-card-logo-name-extra {
  display: flex;
}

.bar-card-extra {
  display: none;
}

.bar-card:hover .bar-card-extra {
  display: block;
  flex-direction: column;
  line-height: 10px;
}

.bar-card:hover {
  @include bar-card-hover;
}

.bar-card:hover .bar-card-name {
  font-size: 14px;
}
