@import './Variables/Variables.scss';

.CardCollection {
  padding-bottom: 30px;
}

.CardCollection-cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
