@import "./Variables/Variables.scss";

.CardCollection {
  background-color: $light-grey-background-color;
  padding-bottom: 30px;
}

.CardCollection-cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
