@import "./Variables/Variables.scss";

.Filter-title {
  font-family: $site-font;
  font-size: 16px;
  font-weight: bold;
  color: $dark-font;
  padding-bottom: 23px;
  margin: 0;
}

.Filter-options {
  display: flex;
  padding-bottom: 56px;
}

.Filter-checkbox {
  padding-right: 2px;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0;
 cursor: pointer;
 margin-right: 10px;
}

label {
  font-family: $site-font;
  font-size: 14px;
  font-weight: normal;
  color: $dark-font;
  word-wrap: none;
  margin: 0;
  padding-right: 24px;
  position: relative;
  bottom: 5px;
  display: inline-block;
  white-space: nowrap;
}
