@import './Variables/Variables.scss';

.Blurb-container {
  // background-color: $light-background-color;
  background-color: $light-blue;
  padding: 16px;
}

.Filter-title {
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  // color: $dark-font;
  padding-bottom: 24px;
  margin: 0;
}

.Site-blurb {
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 40px;
}

.Filter-options {
  padding: 16px;
  display: flex;
  padding-bottom: 56px;
}

.Filter-checkbox {
  padding-right: 2px;
}

input[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin: 0;
  cursor: pointer;
  margin-right: 10px;
}

label {
  font-size: 14px;
  font-weight: normal;
  // color: $dark-font;
  word-wrap: none;
  margin: 0;
  padding-right: 24px;
  position: relative;
  bottom: 5px;
  display: inline-block;
  white-space: nowrap;
}
