@import './Variables/Variables.scss';

.blurb-container {
  background-color: $light-blue;
  padding: 16px;
}

.filter-title {
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 24px;
  margin: 0;
}

.site-blurb {
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 40px;
}

.filter-options {
  padding: 16px;
  display: flex;
  padding-bottom: 56px;
}

.filter-checkbox {
  padding-right: 2px;
}

input[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin: 0;
  cursor: pointer;
  margin-right: 10px;
}

label {
  font-size: 14px;
  font-weight: normal;
  word-wrap: none;
  margin: 0;
  padding-right: 24px;
  position: relative;
  bottom: 5px;
  display: inline-block;
  white-space: nowrap;
}
