@import './Variables/Variables.scss';

.navbar {
  background-color: $dark-blue;
  border-bottom: solid 1.5px rgba(197, 199, 199, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
}

.navbar-logo {
  width: 160px;
  padding-top: 5px;
  color: white;
}

.recommendation-button {
  background-color: $hot-pink;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(236, 72, 153, 0.3);
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.recommendation-button:hover {
  background-color: $lighter-pink;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(219, 39, 119, 0.6);
}
