.AirlineCard {
  /* border: 1px solid #363f45; */
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
  /* padding: 10px; */
  gap: 16px;
  width: 300px;
  height: 240px;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: auto;
  text-align: center
}

.AirlineCard:hover {
  border: 1px solid #363f45;
}

.AirlineCard-extra {
  display: none;
}

.AirlineCard:hover .AirlineCard-extra {
  display: inline-block;
}

.AirlineCard-alliance {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}

.AirlineCard-phone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}

.AirlineCard-site {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color:#5a6872
}


.AirlineCard-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
  /* flex-wrap: wrap; */
}

.AirlineCard-name {
  padding-left: 18px;
  flex-wrap: wrap;
}

.AirlineCard-logo {
  height: 32px;
}
