.AirlineCard {
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
  gap: 16px;
  width: 300px;
  height: 240px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AirlineCard-logo-name-extra {
  justify-content: center;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

.AirlineCard-logo {
  height: 32px;
  padding-right: 18px;
}

.AirlineCard-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
  line-height: normal;
}

.AirlineCard-alliance {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}

.AirlineCard-phone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}

.AirlineCard-site {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color:#5a6872;
}

.AirlineCard-logo-name-extra {
  display: flex;
}

.AirlineCard-extra {
  display: none;
}

.AirlineCard:hover .AirlineCard-extra {
  display: block;
  flex-direction: column;
  line-height: 0.4;
}

.AirlineCard:hover {
  border: 1px solid #363f45;
  box-sizing: border-box;
}

.AirlineCard:hover .AirlineCard-name {
  font-size: 14px;
}





/* .AirlineCard-extra {
  display: flex;
  flex-direction: column;
} */

/* .AirlineCard-name-and-extra {
  flex-direction: column;
  display: flex;
}

/* .AirlineCard-info-and-extra {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  flex-direction: column;
  display: flex;
} */

/* .AirlineCard p {
  margin: 0;
  word-break: break-word;
}




.AirlineCard:hover .AirlineCard-extra {
  display: inline-block;
}

.AirlineCard-alliance {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #192024;
}


/* .AirlineCard-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
} */

/* .AirlineCard-name {
  flex-wrap: wrap;
} */
