.CardCollection {
  background-color: #F9FAFB;
}

.CardCollection-cards {
  display: flex;
  /* justify-content: center; */
  gap: 16px;
  flex-wrap: wrap;
  /* flex: 0 1 24%; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  justify-content: center;
  align-items: center;

}
