
.App-title {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 73px;
}

.App {
  background-color:#F9FAFB;
}

.App-container {
  padding-left: 94px;
  padding-right: 94px;
  padding-bottom: 200px;
}
